$contentBackground: rgb(21, 23, 34);
$font-family: Hind, sans-serif;
$font-family1: Fresca, sans-serif;
$font-family2: Source Sans Pro, sans-serif;
$whiteSmoke: rgba(245, 245, 245, 0.733);
$font-weights: ("regular": 400, "medium": 500, "bold": 700);
$black-white: whitesmoke;
$image: url('/homework/img/m-h-night.jpg');
$colour: white;
$back-span: rgb(223, 82, 17);
$background-button: rgb(247, 192, 15);
$theme-dark: rgb(54, 65, 87);
$backgr-ready: linear-gradient(90deg, rgb(197, 194, 14) 35%, rgb(245, 12, 12) 100%);