$contentBackground: #fff;
$font-family: Source Sans Pro, sans-serif;
$font-family1: Hind, sans-serif;
$font-family2: Fresca, sans-serif;
$whiteSmoke: whitesmoke;
$font-weights: ("regular": 400, "medium": 500, "bold": 700);
$black-white: rgba(0, 0, 0, 0.493);
$image: url('/homework/img/m-h-day.jpg');
$colour: black;
$back-span: rgb(17, 113, 223);
$background-button: rgba(70, 136, 3, 0.973);
$theme-dark: rgba(0, 0, 0, 0.815);
$backgr-ready: linear-gradient(90deg, rgba(9,121,12,1) 35%, rgba(0,40,255,1) 100%);

